.letterContainer{
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); //make the background of the letter dim (much like regular animal crossing games)
  display: flex;
  justify-content: center;
  align-items: center;
}
.letterBackground{
    background-image: url(../assets/ac_letter.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 70%;
    aspect-ratio: 16 / 10; //keeps natural proportions of the letter image
    box-sizing: border-box; //padding doesn't overflow div
    animation: slideUp 0.8s ease-out forwards;
    padding: 70px 90px 70px 90px;
    font-family: 'ACFont', sans-serif;
    color: #4a3f35;
}
.buttonLink{
    border: none;
    font-size: 1em;
    font-family: 'ACFont', sans-serif;
    background-color: transparent;
    display: inline;
    color: #E07B54;
    text-decoration: underline;
    cursor: pointer;
    margin-left: -0.2em;
    margin-right: -0.2em;
}
// .tippyImage {
//   align-content: center;
//   justify-content: center;
//   width: 10em;
//   padding: 1em;
//   overflow: hidden;
//   height: auto;
//   width: 20em;
// }
.tippy-image {
  align-content: center;
  justify-content: center;
  width: 10em;
  padding: 1em;
  overflow: hidden;
  height: auto;
  width: 20em;
}
@keyframes slideUp {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
